.App {
  text-align: center;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
}

header img {
  /* width: 50%; */
  max-width: 100%;
  height: auto;
}

/* NAV BAR */
button {
  border-radius: 16px;
  background-color: #D9D9D9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

a.button {
  display: inline-block;   
  text-decoration: none;  
  border-radius: 16px;
  background-color: #D9D9D9;
  color: inherit;       
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

a.button:hover {
  display: inline-block;   
  text-decoration: none;  
  border-radius: 16px;
  background-color: #F4CE14;
  color: inherit;       
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

a.yellowBtn {
  display: inline-block;   
  text-decoration: none;  
  border-radius: 16px;
  background-color: #F4CE14;
  color: inherit;       
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: center;  
  gap: 2rem;
  padding: 0 40px;
}

nav li {
  list-style-type: none;
}

/* MAIN */
main {
  width: 100%;       
  max-width: 75%;   
  margin: 0 auto;    
}

main p {
  width: 80%;      
  margin: 0 auto;  
}

main h1 {
  width: 80%;      
  margin: 0 auto;  
}

main h2 {
  width: 80%;      
  margin: 0 auto;  
}

/* FOOTER */
footer p{
  font-size: 0.8rem;
}

/* BOOKING FORM */
form {
  display: grid;
  max-width: 200px; 
  gap: 20px;
  text-align: center;
  margin: 0 auto;
}

label {
  font: 18pt "Karla", sans-serif;
  font-size: 16pt;
  font-weight: normal;
  line-height: 1.5;
  max-width: 65ch;
  color: #495E57;
}

input, select {
  border-radius: 16px;
  background-color: #D9D9D9;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* HOME PAGE */
.image-container {
  position: relative; 
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;       
  height: auto;
  border-radius: 16px;   
}

.image-container a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 0.5rem 1rem;
}

.home {
  display: flex;
  justify-content: center; 
}


/* TEXT */

h1 {
  font: 3rem "Display_serif", serif;
  font-weight: bold;
}

h2 {
  font: 2rem "Subheading", serif;
  font-weight: normal;
}

h3 {
  font: 1.8rem "Karla", sans-serif;
  font-weight: normal;
}

p {
  font: 18pt "Karla", sans-serif;
  font-size: 16pt;
  font-weight: normal;
  line-height: 1.5;
  max-width: 65ch;
  color: #495E57;
}

/* COLORS */
.yellow {
  color: #F4CE14;
}

.white {
  color: #FFFFFF;
}

.greenBg {
   background-color: #495E57;
}

